body {
    padding: 2rem;
}

#lista-de-tarefas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

form{
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#titulo-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn-add {
    margin: 1rem;
}

.acoes {
    display: flex;
    justify-content: space-around;
}

.is-nivel {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
