body {
    padding: 2rem;
}

#lista-de-tarefas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
}

form{
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#titulo-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn-add {
    margin: 1rem;
}

.acoes {
    display: flex;
    justify-content: space-around;
}

#progresso-geral {
    margin: 2rem 1rem 2rem 1rem;
}

#progresso-geral div{
    margin: 2rem 0 2rem 0;
}

.nes-badge {
    display: inline-flex;
    flex-direction: column;
    width: 7.5em;
}

#buba-id {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

#buba-id p{
    max-width: 350px;
}

.nes-balloon {
    padding: 0.5rem 1rem;
}
